$primaryPink: #f71963;

.brandsNavigator {
  margin: 0 90px;
  
  .brandNavigatorTitle {
    color: $primaryPink;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 60px;
  }

  .container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    position: relative;


    .brandButtonNext {
      background: transparent;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: none;
      position: absolute;
      top: 35%;
      right: 25px;
    }
  }
}
