*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    margin-left: 86px;
    margin-right: 74px;
}

#head1 {
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid #F0F0F0;
    padding-top: 6px;
    padding-bottom: 6px;
}

#info-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#info-item {
    display: flex;
    flex-direction: row;
    padding-right: 120.25px;
}

#head2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

#head3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    border: 1px solid #F0F0F0;
    font-size: 12px;
    color: #9F9F9F;
    padding-top: 11px;
    padding-bottom: 3px;
    box-shadow: 0px 8px 16px rgba(57, 48, 19, 0.12);
    border-radius: 0px;
}

#check-text {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 10px;
    font-size: 12px;
    padding-right: 25px;
    width: 100%;
    padding-top: 2.5px;
    color: #9F9F9F;
}

#emphasis1 {
    display: flex;
    flex-direction: row;
    padding-left: 4px;
    color: #F71963;
}

#Check {
    width: 20px;
    height: 20px;
}

#truck-text {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 10px;
    font-size: 12px;
    padding-right: 25px;
    width: 100%;
    padding-top: 2.5px;
    color: #9F9F9F;
}

#card-text {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 10px;
    font-size: 12px;
    padding-right: 25px;
    width: 100%;
    padding-top: 2.5px;
    color: #9F9F9F;
}

#emphasis2 {
    display: flex;
    flex-direction: row;
    padding-right: 4px;
    color: #F71963;
}

#logo {
    padding-top: 7px;
    padding-bottom: 14.36px;
}

#divBusca{
    background-color: #F6F5F2;
    width: 657px;
    height: 48px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    border-radius: 10px;
    border: none;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    outline: none;
    padding-left:5px;
    border:none;
    height:48px;
    width:657px;
    border-radius: 10px;
    color: #9F9F9F;
    line-height: 21px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

#btnBusca {
    width: 28px;
    height: 28px;
    padding-top: 10px;
    padding-right: 15px;
}

#group {
    width: 24px;
    height: 24px;
    padding-top: 25px;
}

#heart {
    width: 32px;
    height: 32px;
    padding-top: 21px;
}

#user {
    width: 32px;
    height: 32px;
    padding-top: 21px;
}

#cart {
    width: 32px;
    height: 32px;
    padding-top: 21px;
}

#crown {
    width: 20px;
    height: 20px;
    padding-right: 12px;
}

#menu-text {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

#promotion {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 85.04%), url(./img/Rectangle\ 250.png);
    mix-blend-mode: normal;
    opacity: 0.8;
    border-radius: 0px;
}

#promotion-text {
    width: 822px;
    height: 128px;
    font-size: 48px;
    color: #FFFFFF;
    padding-left: 92px;
    padding-top: 52px;
}

#promo {
    width: 822px;
    height: 128px;
    font-size: 48px;
    color: #FFFFFF;
    padding-left: 92px;
    padding-top: 16px;
    padding-bottom: 35px;
}

#viewproduct {
    width: 227px;
    height: 60px;
    font-size: 18px;
    background-color: #F71963;
    color: #FFFFFF;
    margin-left: 90px;
    margin-bottom: 50px;
    border-radius: 5px;
}

#tec {
    background: #FFFFFF;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    width: 128px;
    height: 128px;
    border: #FFFFFF;
    margin-bottom: 22px;
}

#tec-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #F71963;
}

#tec-box {
    width: 150px;
    height: 128px;
    text-align: center;
}

#categorys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 34px;
    margin-left: 86px;
    margin-bottom: 90px;
    margin-right: 77px;
}

#category-button {
    background-color: #F4F4F4;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    width: 128px;
    height: 128px;
    border: #F4F4F4;
    margin-bottom: 22px;
}

#category-text {
    color: #4E4E4E;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}

#category-box {
    width: 150px;
    height: 128px;
    text-align: center;
}

#product-box {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2px;
    font-weight: bold;
}

#product-title {
    color: #F71963;
    font-size: 30px;
}

#line {
    width: 360px;
    height: 0px;
    border: 1px solid #DEDEDE;
    margin-right: 34px;
    margin-left: 34px;
    margin-top: 18px;
}

#product-menu {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 40px;
    
    padding-left: 86px;
    padding-right: 90px;
}

#product-button {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    height: 40px;
    width: 100%;
    color: #3B3B3B;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}

#product-button-cel {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    height: 40px;
    width: 100%;
    color: #F71963;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
}