@import '../../styles/variables';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modalContent {
    position: relative;
    background-color: $white-color;
    border-radius: 0.5rem;
    padding: 2rem;
    z-index: 1001;
    width: 48.0625rem;
    height: 18.70356rem;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .closeButton {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .imageContainer {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.5rem;

      h3 {
        margin: 0;
        font-family: Lato;
        font-size: 1.5rem;
        color: $text-color;
      }
      p, a {
        font-family: Lato, sans-serif;
      }

      .price {
        font-size: 1.25rem;
        font-weight: bold;
        color: $text-color;
        margin: 1rem 0;
      }

      .description {
        margin: 0.5rem 0;
        color: #222;
      }

      .detailsLink {
        color: $highlight-color;
        text-decoration: none;
        margin-bottom: 1rem;
        color: $modal-blue;
      }

      .quantityControl {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .quantityButton {
          background: none;
          border: 1px solid $text-color;
          padding: 0.5rem;
          cursor: pointer;
          font-size: 1rem;

          &:first-of-type {
            margin-right: 0.5rem;
          }

          &:last-of-type {
            margin-left: 0.5rem;
          }
        }

        span {
          font-size: 1rem;
          padding: 0 1rem;
        }
      }
      button {
        margin-top: 0.5rem;
      }
    }
  }
}
