.banner{
    height: 390px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    background-image: url('https://s3-alpha-sig.figma.com/img/d701/1fef/1efb13345a3fe61853be204c92174e87?Expires=1737936000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bw5v0sOljg5z89iyBQABxS83osbWRspXrJjlc5HGs160i-tRq8F6n2YiUm4DtrWZ-BiXikw9Ize~WlzJ7dXJQvMPAjR0V8Tlc~3B8mb2NtFYoFIM0Gmp1wy0M9726Gsu3UArTrxkdOoJdhksN2xqzMKkcEqOS1vXP-no7htIX2RwvnHqZIOZA9XuP2rzEfvbVva2AE0Cdec4zAN6BiH8y0vjKX5Z3xHOSDXHovAkfwpPa8R0pjoplNDCk8dK55fJAQ3vKOLEINa4TTReCTCHiXF2f~IMLa7DT6zTI7jnaV0USEEZou1K8wwYM2TUcRUhTKRnxC-lEPwHTe09XXJ1vA__');
    margin-top:2px;
    
    .banner-content{
        padding-left: 81px;
        width: 100%;
        height:100%;
        padding-top: 78px;
        background-color: rgba(0, 0, 0, 0.582);
    }

    p:nth-child(1){
        font-family: Poppins;
        font-size: 48px;
        font-weight: 600;
        line-height: 50px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #FFFFFF;
    }

    p:nth-child(2){
        font-family: Poppins;
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        text-align: left;
        color: #FFFFFF;
        margin-top: 20px;
    }
    span{
        color:#F7CA11;
    }

    .banner-button{
        margin-top: 41px;
        button{
            font-family: Poppins;
            width: 206px;
            height: 50px;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            padding: 7px 49px 7px 49px;
            gap: 10px;
            border-radius: 5px;
            opacity: 0px;
            background-color: #F7CA11;
            color: #000000;
            border: none;
            &:hover{
                background-color: #f7c911ee;
                color: #000000;
            }
        }
    }
}