@import '../../styles/variables';
@import '../../styles/mixins';

.container {
    background-color: #fff;
    margin: 0 auto;
  }
  
  .list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
    justify-content: space-between; 
  }