@import '../../../styles/variables.scss';

.headerTop {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    margin: auto;
    gap: 7.44rem;
    padding: {
        top: 0.44rem;
        bottom: 0.44rem;}

        .content {
            display: flex;
            align-items: center;
            gap: 0.56rem;
            font-size: 0.75rem;
        }
        .highlighted {
            color: $highlight-color; 
          }

} 