.brand-container {
  width: 13.1875rem;
  height: 13.1875rem;
  border-radius: 211px;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.13);

  display: flex;
  align-items: center;
  justify-content: center;
}
