@import '../../styles/variables';

.productCard {
    background-color: $white-color;
    border-radius: 0.625rem;
    width: 16.875rem;
    height: 31.25rem;
    box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.22);
    padding: 1rem;
    text-align: start;
    cursor: pointer;
    transition: transform 0.2s;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  
    &:hover {
      transform: translateY(-0.4rem);
    }
  
    img {
      max-width: 100%;
    }
  
    .info {
      p {
        margin: 0.5rem 0;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      
      .description {
        color: $text-color;
      }
      
      .oldPriceStriked {
        color: $product-old-color;
        text-decoration: line-through;
      }
      
      .newPriceHighlighted {
        color: $text-color;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      
      strong {
        color: $highlight-color;
      }


      button {
        margin-top: auto;
      }
    }
  }