$header-text-secondary: #9F9F9F;
$header-border-color: #F0F0F0;
$highlight-color: #F71963; 
$text-color: #3F3F40;
$white-color: #FFFFFF;
$footer-background: #2A2A2A;
$input-background: #F6F5F2;
$categories-background: #F4F4F4;
$categories-text: #4E4E4E;
$product-old-color:#808080;
$product-navigation: #3B3B3B;
$modal-blue: #041E50;