main {
  padding-bottom: 2rem;

  .category-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5.38rem;
    padding-top: 2.13rem;
  }

  .other-relational-products {
    text-align: center;
    margin-bottom: 0.7rem;

    & > button {
      background-color: transparent;
      border: 0;
      color: #3F3F40;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .products-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 6.56rem;
      width: 100%;
      padding-top: 4.4rem;
      padding-inline: 5.13rem;
    }

  }
}
