@import "../../styles/theme.scss";

.relational-products-container {
  padding: 2.44rem 0 2.75rem;

  .categories-product,
  .partners-container,
  .other-relational-products {
    padding-inline: 5.37rem;

    @media screen and (max-width: 1024px) {
      padding-inline: 2rem;
    }
  }

  .categories-product {
    padding-top: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    & > button {
      background: transparent;
      width: 100%;
      padding: 0.75rem 3.625rem;
      border: 1px solid #BDBDBD;
      height: 2.5rem;
      padding-inline: 4.42rem;
      text-transform: uppercase;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1rem;
      color: #3B3B3B;

      &.active {
        color: $primary;
        font-weight: 700;
      }
    }

    @media screen and (max-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: .75rem;
      row-gap: .75rem;
    }
  }

  .partners-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6.56rem;
    width: 100%;
    padding-top: 2.65rem;

    @media screen and (max-width: 768px) {
      gap: 2rem;
    }
  }

  .other-relational-products {
    text-align: center;
    margin-top: 3.75rem;
    margin-bottom: 0.7rem;

    & > button {
      background-color: transparent;
      border: 0;
      color: #3F3F40;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .products-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 6.56rem;
      width: 100%;
      padding-top: 4.4rem;

      @media screen and (max-width: 768px) {
        gap: 2rem;
      }
    }
  }
}

