:root {
    --black: #000000;
    --red: #FF0040;
    --gray: ##585858;
    --pink: #F71963;
}

.div-footer{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}