@import '../../../styles/variables';

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  gap: 1.38rem;

  .categoryContainer {
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $categories-background;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.13);

  }

  .categoryIcon {
    width: 3.8125rem;
    height: 3.8125rem;
  }

  .categoryName {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    color: $categories-text;
  }

  &.active {
    .categoryContainer {
      background-color: $white-color;
    }

    .categoryIcon,
    .categoryName {
      color: $highlight-color;
    }
  }

  &:hover {
    .categoryIcon,
    .categoryName {
      color: $highlight-color;
    }
  }
}
