:root {
    --orange: #0000;
    --orange: #0000;
    --orange: #0000;
    --orange: #0000;
    --orange: #0000;
    --orange: #0000;
    --orange: #0000;
}

.header-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}