$color-blue: #3442B5;
$color-yellow: #F7CA11;
$color-purple: #3019B2;
$color-white: #FFFFFF;
$color-white-smoke: #F4F4F4;
$color-gray-primary: #3F3F40;
$color-gray-secondary: #9F9F9F;
$color-separator: #F0F0F0;
$background-searchbar: #F6F5F2;