@import '../../../styles/variables';

.headerMid {
    width: 100%;
    border-top: 0.0625rem solid $header-border-color;
    border-bottom: 0.0625rem solid $header-border-color;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        margin-right: 3.5rem;
        margin-left: 3.5rem;


        .inputContaniner{
            background-color: $input-background;
            border-radius: 10px;
            display: flex;
            gap: 6px;
            padding: 5px;
        }
        input {
            width: 600px;
            height: 48px;
            height: 3rem;
            outline: 0;
            background-color: transparent;
            padding-left: 1.5rem;
            border: none;
            
            &::placeholder {
                color: $header-text-secondary;
                font-size: 14px;
            }
        }
        .searchIcon {
            align-items: center;
            cursor: pointer;
            padding: 0.63rem;

            &:hover {
                transform: translateY(-10%) scale(1.20); // Aumenta o tamanho ao passar o mouse
                transition: transform 0.12s ease; // Adiciona uma transição suave
            }
        }
        .icons {
            display: flex;
            align-items: center;
            gap: 24px;
            img { cursor: pointer; 
                &:hover {
                    transform: translateY(-10%) scale(1.20); // Aumenta o tamanho ao passar o mouse
                    transition: transform 0.12s ease; // Adiciona uma transição suave
                }
            }

            

        }
    }
}