.rangeText {
  display: flex;

  img {
    margin-right: 10px;
  }

  p {
    display: flex;
    color: #9F9F9F;
    font-weight: 500;
    font-size: 12px;

    span {
      margin: 0 5px;
      color: #F71963;
      font-weight: 600;
    }
  }
}