@import '../../styles/variables';


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5.63rem;
    margin-right: 4.68rem;
    background-color: $white-color;
    
  }
