@import '../../styles/variables';
@import '../../styles/mixins';

.productSection {
  width: 100%; 
  padding: 2rem 0;
  background-color: $white-color;

  h2 {
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    color: $highlight-color;
    display: flex;
    justify-content: center;

    &::before, &::after { // Estilos para as linhas
        content: '';
        display: block;
        width: 22.5rem; /* Largura da linha */
        height: 0.0625rem; /* Altura da linha */
        background-color: #DEDEDE; /* Cor da linha */
        margin: 0 1.12rem; // Adiciona uma margem lateral para separar as linhas do texto
      }
  }
}
.carousel {
  display: flex;
  overflow: visible;
  padding-top: 1.06rem;
  justify-content: center;
  align-items: center;
  gap: 3.88rem;
}

.carouselButton {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar button {
  display: flex;
  height: 2.5rem;
  padding: 0.75rem 3.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex: 1 0 0;
  background: #FFF;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #BDBDBD;
  font-size: 1rem;
  line-height: 1rem;
  color: $product-navigation;

  &:hover{
    color: $highlight-color;
  }
  &.active {
    color: $highlight-color;
    font-weight: bold;
}
}