@import '../../styles/variables';
@import '../../styles/mixins';

.productSection {
  width: 100%; 
  padding: 2rem 0;
  background-color: $white-color;

  h2 {
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    color: $highlight-color;
    display: flex;
    justify-content: center;

    &::before, &::after { // Estilos para as linhas
        content: '';
        display: block;
        width: 22.5rem; /* Largura da linha */
        height: 0.0625rem; /* Altura da linha */
        background-color: #DEDEDE; /* Cor da linha */
        margin: 0 1.12rem; // Adiciona uma margem lateral para separar as linhas do texto
      }
  }
}
.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carouselButton {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.navbar .active {
  border-bottom: 2px solid #FF0099;
}