.letras {
  font-family: 'Poppins';
  font-style: normal;
}
.infos-gerais {
  position: absolute;
  left: 0px;
  top: 4178px;
  width: 1442px;
  background-color: #2A2A2A;
}
.container-geral-footer {
  position: absolute;
  left: 0px;
  top: 4178px;
  width: 1442px;
  background-color: #2A2A2A;
  height: 395px;
}
.container-geral-sobre-nos {
  position: absolute;
  left: 0px;
  top: 4178px;
  width: 1442px;
  background-color: #2A2A2A;
  height: 325px;
}
.container-sobre-nos {
  position: absolute;
  height: 128px;
  width: 146px;
  left: 0px;
  top: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}
.container-institucional {
  position: absolute;
  height: 224px;
  width: 149px;
  left: 93px;
  top: 59px;
  line-height: 20px;
  color: #FFFFFF;
}
#frase-sobre-nos {
  height: 20px;
  width: 66px;
  left: 13px;
  top: 59px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
}
.container-redes-sociais {
  position: absolute;
  height: 22px;
  width: 130px;
  left: 0px;
  top: 183px;
}
#face {
  position: absolute;
  height: 21.46px;
  width: 21.48px;
  left: 0px;
  top: 0px;
  border: transparent;
  background-image: url("../Images/face.svg");
  background-repeat: no-repeat;
}
#instagram {
  position: absolute;
  height: 22px;
  width: 22.02px;
  left: 53px;
  top: 0px;
  background-image: url("../Images/instagram.svg");
  background-repeat: no-repeat;
}
#youtube {
  position: absolute;
  height: 22px;
  width: 22.02px;
  left: 110px;
  top: 0px;
  background-image: url("../Images/youtube.svg");
  background-repeat: no-repeat;
}
.container-geral-informacoes {
  position: absolute;
  height: 236px;
  width: 150px;
  left: 310px;
  top: 55px;
  font-family: 'Poppins';
  font-style: normal;
  color: #FFFFFF;
}
.container-info {
  height: 224px;
  width: 150px;
  left: 255px;
  top: 103px;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}
#frase-info {
  height: 20px;
  width: 135px;
  left: 255px;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
}
.container-pagamento {
  position: absolute;
  height: 192.54px;
  width: 224px;
  left: 520px;
  top: 59px;
}
.container-formas-pagamento {
  position: absolute;
  height: 204px;
  width: 195px;
  left: 0px;
  top: 40px;
}
#frase-pagamento {
  position: absolute;
  height: 20px;
  width: 162px;
  left: 0px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
}
#img-visa {
  position: absolute;
  height: 15.54px;
  width: 47.99px;
  left: 4px;
  top: 4px;
  background-image: url("../Images/visa.jpg");
  background-repeat: no-repeat;
}
#img-dinners {
  position: absolute;
  height: 30px;
  width: 60px;
  left: 4.2px;
  top: 50px;
  background-image: url("../Images/dinners.svg");
  background-repeat: no-repeat;
}
#img-pix {
  position: absolute;
  height: 20px;
  width: 56px;
  left: 4.2px;
  top: 92px;
  background-image: url("../Images/pix.svg");
  background-repeat: no-repeat;
}
#img-sodexo {
  position: absolute;
  height: 15px;
  width: 48px;
  top: 128px;
  left: 4.2px;
  background-image: url("../Images/sodexo.svg");
  background-repeat: no-repeat;
}
#img-elo {
  position: absolute;
  height: 25px;
  width: 48px;
  top: 5px;
  left: 88.2px;
  background-image: url("../Images/elo.svg");
  background-repeat: no-repeat;
}
#img-ifood {
  position: absolute;
  height: 25px;
  width: 48px;
  top: 47px;
  left: 86px;
  background-image: url("../Images/ifood.svg");
  background-repeat: no-repeat;
}
#img-amex {
  position: absolute;
  height: 30.22px;
  width: 32px;
  top: 90px;
  left: 88px;
  background-image: url("../Images/amex.svg");
  background-repeat: no-repeat;
}
#img-alelo {
  position: absolute;
  height: 25.49px;
  width: 39px;
  left: 160px;
  top: 3px;
  background-image: url("../Images/alelo.svg");
  background-repeat: no-repeat;
}
#img-mastercard {
  position: absolute;
  height: 40px;
  width: 50px;
  left: 160px;
  top: 45px;
  background-image: url("../Images/mastercard.svg");
  background-repeat: no-repeat;
}
#img-ticket {
  position: absolute;
  height: 29px;
  width: 29px;
  left: 160px;
  top: 90px;
  background-image: url("../Images/ticket.svg");
  background-repeat: no-repeat;
}
.container-geral-cadastro {
  position: absolute;
  height: 260px;
  width: 380px;
  left: 889px;
  top: 33px;
  background: #FFFFFF;
  border-radius: 10px;
}
.container-cadastro {
  position: absolute;
  height: 260px;
  width: 380px;
  left: 29px;
  top: 20px;
  border-radius: 10px;
  color: #3F3F40;
}
.box-frase1 {
  position: absolute;
  height: 51px;
  width: 281px;
  left: 0px;
  top: 0px;
}
.frase-info {
  position: absolute;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
#frase1 {
  font-family: 'Poppins';
  font-style: normal;
  position: absolute;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  left: 10px;
  text-transform: uppercase;
}
#frase2 {
  font-family: 'Poppins';
  font-style: normal;
  position: absolute;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 21px;
  font-weight: 700;
  top: 45px;
  left: 10px;
  text-transform: uppercase;
}
.container-frase3 {
  position: absolute;
  height: 38px;
  width: 310px;
  left: 0px;
  top: 66px;
}
#frase3 {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  height: 38px;
  text-align: center;
}
.container-botao-cadastro {
  position: absolute;
  display: flex;
  gap: 9px;
  height: 45px;
  width: 301px;
  left: 14px;
  top: 150px;
  border-radius: 4px;
}
.botao-cadastro {
  height: 50px;
  width: 62px;
  left: 0px;
  top: 0px;
  background: #F71963;
  border-radius: 4px;
  border-color: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.input-cadastro {
  height: 45px;
  width: 230px;
  left: 0px;
  top: 0px;
  border: 1px solid;
  border-color: #2A2A2A;
  border-radius: 4px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  font-style: #C0C0C0;
}
.container-geral-copyright {
  position: absolute;
  height: 70px;
  width: 1442px;
  left: 0px;
  top: 4504px;
  background-color: #2A2A2A;
}
.container-frase-copyright {
  position: absolute;
  height: 26px;
  width: 698px;
  left: 96px;
  top: 22px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.container-imagem-logos {
  position: absolute;
  display: flex;
  height: 32px;
  width: 290.08px;
  left: 1029px;
  top: 19px;
  gap: 32px;
}
#image-econverse {
  height: 31.62px;
  width: 120px;
  left: 109px;
  top: 19px;
  background-image: url("../Images/econverse.svg");
  background-repeat: no-repeat;
}
#image-vtex {
  height: 32px;
  width: 120px;
  left: 1400px;
  top: 15px;
  background-image: url("../Images/vtex-bp.svg");
  background-repeat: no-repeat;
}
