.letras {
  font-family: 'Poppins';
  font-style: normal;
}
.infos-gerais {
  position: absolute;
  left: 0px;
  top: 4178px;
  width: 1442px;
  background-color: #2A2A2A;
}
.container-geral-footer {
  position: absolute;
  left: 0px;
  top: 4178px;
  width: 1442px;
  background-color: #2A2A2A;
  height: 395px;
}
.container-geral-sobre-nos {
  position: absolute;
  left: 0px;
  top: 4178px;
  width: 1442px;
  background-color: #2A2A2A;
  height: 325px;
}
.container-sobre-nos {
  position: absolute;
  height: 128px;
  width: 146px;
  left: 0px;
  top: 44px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 32px;
  text-transform: uppercase;
}
.container-institucional {
  position: absolute;
  height: 224px;
  width: 149px;
  left: 93px;
  top: 59px;
  line-height: 20px;
  color: #FFFFFF;
}
#frase-sobre-nos {
  height: 20px;
  width: 66px;
  left: 13px;
  top: 59px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
}
.container-redes-sociais {
  position: absolute;
  height: 22px;
  width: 130px;
  left: 0px;
  top: 203px;
}
#face {
  position: absolute;
  height: 21.46px;
  width: 21.48px;
  left: 13px;
  top: 0px;
  background-image: url("../Images/face.svg");
  background-repeat: no-repeat;
}
#instagram {
  position: absolute;
  height: 22px;
  width: 22.02px;
  left: 66.47px;
  top: 0px;
  background-image: url("../Images/instagram.svg");
  background-repeat: no-repeat;
}
#youtube {
  position: absolute;
  height: 22px;
  width: 22.02px;
  left: 120.98px;
  top: 0px;
  background-image: url("../Images/youtube.svg");
  background-repeat: no-repeat;
}
.container-geral-informacoes {
  position: absolute;
  height: 236px;
  width: 150px;
  left: 310px;
  top: 59px;
  font-family: 'Poppins';
  font-style: normal;
  color: #FFFFFF;
}
.container-info {
  height: 224px;
  width: 150px;
  left: 255px;
  top: 103px;
  font-weight: 300;
  font-size: 12px;
  line-height: 32px;
  text-transform: uppercase;
}
#frase-info {
  height: 20px;
  width: 135px;
  left: 255px;
  top: 59px;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
}
.container-pagamento {
  position: absolute;
  height: 192.54px;
  width: 224px;
  left: 520px;
  top: 59px;
}
.container-formas-pagamento {
  position: absolute;
  height: 204px;
  width: 195px;
  left: 0px;
  top: 30px;
}
#frase-pagamento {
  position: absolute;
  height: 20px;
  width: 162px;
  left: 0px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
#img-visa {
  position: absolute;
  height: 15.54px;
  width: 47.99;
  left: 4px;
  top: 4px;
  background-image: url("../Images/visa.jpg");
  background-repeat: no-repeat;
}
#img-dinners {
  position: absolute;
  height: 15.54px;
  width: 20.99;
  left: 4.2px;
  top: 80px;
  background-image: url("../Images/dinners.png");
  background-repeat: no-repeat;
}
#img-pix {
  position: absolute;
  height: 20px;
  width: 56px;
  left: 4.2px;
  top: 92px;
  background-image: url("../Images/pix.svg");
  background-repeat: no-repeat;
}
#img-sodexo {
  position: absolute;
  height: 15px;
  width: 48px;
  top: 128px;
  left: 4.2px;
  background-image: url("../Images/sodexo.svg");
  background-repeat: no-repeat;
}
#img-elo {
  position: absolute;
  height: 25px;
  width: 48px;
  top: 5px;
  left: 88.2px;
  background-image: url("../Images/elo.svg");
  background-repeat: no-repeat;
}
#img-ifood {
  position: absolute;
  height: 25px;
  width: 48px;
  top: 47px;
  left: 86px;
  background-image: url("../Images/ifood.svg");
  background-repeat: no-repeat;
}
#img-amex {
  position: absolute;
  height: 30.22px;
  width: 32px;
  top: 90px;
  left: 88px;
  background-image: url("../Images/amex.svg");
  background-repeat: no-repeat;
}
#img-alelo {
  position: absolute;
  height: 25.49px;
  width: 39px;
  left: 160px;
  top: 5px;
  background-image: url("../Images/alelo.svg");
  background-repeat: no-repeat;
}
#img-mastercard {
  position: absolute;
  height: 29px;
  width: 37.29px;
  left: 160px;
  top: 89px;
  background-image: url("../Images/mastercard.png");
  background-repeat: no-repeat;
}
#img-ticket {
  position: absolute;
  height: 29px;
  width: 29px;
  left: 160px;
  top: 103px;
  background-image: url("../Images/ticket.svg");
  background-repeat: no-repeat;
}
.container-geral-cadastro {
  position: absolute;
  height: 260px;
  width: 380px;
  left: 889px;
  top: 33px;
  background: #FFFFFF;
  border-radius: 10px;
}
.container-cadastro {
  position: absolute;
  height: 260px;
  width: 380px;
  left: 29px;
  top: 40px;
  border-radius: 10px;
  color: #3F3F40;
}
.box-frase1 {
  position: absolute;
  height: 51px;
  width: 281px;
  left: 0px;
  top: 0px;
}
.frase-info {
  position: absolute;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
#frase1 {
  font-family: 'Poppins';
  font-style: normal;
  position: absolute;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  left: 10px;
  text-transform: uppercase;
}
#frase2 {
  font-family: 'Poppins';
  font-style: normal;
  position: absolute;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 21px;
  font-weight: 700;
  top: 45px;
  left: 10px;
  text-transform: uppercase;
}
#frase3 {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  height: 38px;
}
.container-geral-copyright {
  position: absolute;
  left: 0px;
  top: 4178px;
  background-color: #2A2A2A;
  width: 1442px;
}
