@import '../../styles/variables';

.relatedProducts {
 margin-top: 3.5rem;
  }

.related{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.5rem;
  

  a {
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
  }
}

.sectionTitle {
  color: $highlight-color;
  text-align: center;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  
  &::before, &::after {
    content: '';
    display: block;
    width: 22.5rem; 
    height: 0.0625rem; 
    background-color: #DEDEDE; 
    margin: 0 1.12rem; 
  }

}

.productsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  width: auto;
  gap: 2rem;
  margin-bottom: 2.44rem;

  .productItem {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      color: $white-color;
      background-image: url('/img/related.png');
      width: 36.85788rem;
      height: 17.75rem;
      border-radius: 0.625rem; 
      overflow: hidden;
  
      &::before { 
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.8;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 85.04%);
          z-index: 1; 
        }
  
  
        .textContainer {
          position: relative; 
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          padding: 2rem;
          margin-top: 2rem;
  
        .productTitle {
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1;
        }
  
        .productDescription {
          width: 11.6rem;
          font-size: 1rem;
          text-align: left;
        }
  
        button {
          margin-top: 2rem;
        }
}


  }
}
