@import '../../../styles/variables.scss';

.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 8px 16px 0px rgba(57, 48, 19, 0.12);
  
    ul {
      display: flex;
      gap: 5.68rem;
      list-style: none;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 12px 0;
  
      li {
        a {
          text-decoration: none;
          color: $header-text-secondary;
          
          &:hover {
            color: $highlight-color;
          }
          &.active {
            color: $highlight-color;
          }
        }
  
        &:last-child {
          display: flex;
          align-items: center;
          gap: 6px;
        }
      }
    }
  }