@import '../../../styles/variables';

.footerColumn {
    h4 {
      color: $white-color; 
      margin-bottom: 1.5rem;
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 300;
      line-height: 2rem; 
      text-transform: uppercase;
    }
  
    li {
      margin-bottom: 0.5rem;
    }
  
    a {
      color: $white-color;
      text-decoration: none;
      font-size: 0.875rem;
      transition: color 0.2s ease; 
  
      &:hover {
        color: lightgray; 
      }
    }
  }
  .socialIcons {
    display: flex;
    justify-content: flex-start; 
    margin: 2.69rem 0;

  
    a {
      display: inline-block;
      margin-right: 1rem; 
  
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }