$white: #fff;

.list {
  color: $white;
  
  .listItem {
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
  }

  .boxTitle {
    margin-bottom: 24px;

    .listTitle {
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
