.header {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__logo img {
    max-height: 40px;
  }

  &__search {
    flex-grow: 1;
    display: flex;
    margin: 0 20px;

    input[type="search"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #e5e5e5;
      border-radius: 5px 0 0 5px;
      font-size: 14px;
    }

    button {
      background-color: transparent;
      border: 1px solid #e5e5e5;
      border-left: none;
      padding: 10px;
      border-radius: 0 5px 5px 0;
      cursor: pointer;

      svg {
        fill: #333;
      }
    }
  }

  &__nav {
    display: flex;

    &-list {
      display: flex;
      gap: 20px;
    }

    &-item {
      color: #333;
      text-decoration: none;
      font-size: 12px;
      font-weight: 500;
    }
  }

  &__icons {
    display: flex;
    gap: 20px;

    a {
      color: #333;
      text-decoration: none;

      svg {
        fill: #333;
      }
    }
  }

  &__bottom {
    padding: 10px 0;

    &__menu {
      display: flex;
      justify-content: space-between;

      &-list {
        display: flex;
        gap: 15px;
      }

      &-item {
        color: #333;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;

        &:hover {
          color: #e31862;
        }

        &.active {
          color: #e31862;
        }
      }
    }
  }
}
