$primaryPink: #f71963;
$black: #3f3f40;

.relatedBox {
  margin: 64px 90px;

  .relatedBoxTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;

    $primaryPink: #f71963;

    .relatedTitle {
      color: $primaryPink;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        position: absolute;
        top: 50%;
        left: 40px;
        width: 360px;
        height: 1px;
        background: url("../../assets/line.svg");
        z-index: 1;
      }

      &::before {
        position: absolute;
        content: "";
        position: absolute;
        top: 50%;
        right: 40px;
        width: 360px;
        height: 1px;
        background: url("../../assets/line.svg");
        z-index: 1;
      }
    }
  }

  .relatedLink {
    color: $black;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 88px;
  }

  .container {
    display: flex;
    gap: 90px;
    justify-content: space-between;
  }
}
