

.ul-related-products {
    display: flex;
}

.li-related-products {
    border: 1px solid var(--color-grey-1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
}

.pink-font {

    color: var(--color-pink);
}


